/* css 추가 */
.editor{ height:350px !important; border-radius:3px; border:1px solid rgba(0, 0, 0, 0.12);}
label{ display:none;}
fieldset{ background:none;}
select::-ms-expand { display: none; }
.breadcrumb i{ line-height:20px;}


.header-bottom {padding: 16px 0;}
.header .header-top {padding: 16px 0 12px;}
.header-top .nav{margin: 6px 0 0 50px;}
.con-padding {padding-top:60px; padding-bottom:60px;}
.header-bottom .nav-item .nav-link{font-family: 'Roboto', 'Nanum SquareB', sans-serif; font-size:16px;}
.header-bottom .nav-link:hover, .header-bottom .active .nav-link { color: #fff; background-color:#ba2323;}
.hero-form .input-group-addon .md-icon { overflow:visible;}
.header-top .nav-link.circle:hover {background-color: #ddd; }
.hero-form-sub li a {outline: 0 none;}
.hero-form-sub li a:visited, .hero-form-sub li a:focus {text-decoration: none; }
.hero-form-sub li.active a{background-color:#DF2F2F;}
.header-top-logo {max-height: 36px; }
.sort-wrap{ position:relative; display:block; height:28px; margin: 0 0 12px 0;}
.sort-wrap .nav{position: absolute; right:0; margin-right: 0.9375rem;}
.sort-wrap .nav li{margin: 5px 5px 5px 0; float:left;}
.sort-wrap .nav li:last-child{margin: 5px 0 5px 0;}
.sort-wrap .nav li a{background: #696e7a; border-radius: 3px; color: #fff; padding: 3px 12px; font-size: 12px;}
.sort-wrap .nav li a:focus {text-decoration: none; background: #DF2F2F; outline: 0 none;}

.user-avatar-wrapper::after{ display:none;}
.header-top .nav-link.circle{ background:#f2f2f2; color:#333; width:32px; height:32px;}
.header-top .nav-link.circle i.md-icon {font-size: 28px; width:32px; height:32px; line-height: 32px;}
.user-avatar-wrapper .user-avatar-image {box-shadow:none;}

.card {/*  overflow:hidden; */}
.card-image{ height:100px; position:relative; }
.card-image a{ text-align:center; font-size:32px; font-weight:700; color:#fff; padding-top:28px; border-radius: 3px 3px 0 0;}
.card-image a p { margin-bottom:12px;}
.wiki-bg { background:#877358;}
.jira-bg { background:#61863E;}
.txnet-bg { background:#5B8EAF;}
.etc-bg { background:#626C82;}
.content-bg { background:#9C533A;}
.card-image a img{ width:24px; height:24px; position:absolute; top:4px; left:4px;}
.card-image::after {height: 4px; background-color:rgba(0, 0, 0, 0.16);}
.card-image-rating {left:50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform:translateX(-50%);}
.card-content { padding:12px 16px;}
.card-content h2 a{overflow: hidden; text-overflow: ellipsis; float:none;}
.card-image-rating{ width:114px; bottom:4px;}

.card-small-image {border-radius: 50%; height:56px; width:56px;}
.card-small-image a img{ width:28px; height:28px; position:absolute; top:50%; left:50%; -webkit-transform: translateY(-50%) translateX(-50%); -ms-transform: translateY(-50%) translateX(-50%); transform: translateY(-50%) translateX(-50%);}

.card-actions .add-menu-wrap { margin:0 12px 0 0; color:#696e7a; position:relative;}
.card-actions .add-menu-wrap{ float:right; margin:0; cursor:pointer;}
.card-actions .add-menu-wrap .md-icon{font-size: 24px; width: 24px; height: 24px; overflow:visible;}

.card-actions .rating-menu-wrap { color:#9E9E9E; margin:0 12px 0 0; position:relative; cursor:pointer;}
.card-actions .rating-menu-wrap .md-icon{vertical-align: middle;}

ul.add-menu, ul.rating-menu {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	color: #2E2E2E;
	font-size: 12px;
	bottom:-18px; 
	right:-110px;
	list-style: none;
	margin: 0;
	opacity: 0;
	padding: 10px 15px;
	position: absolute;
	transition: all .3s ease;
	transform: translate3d(0, 0, 1px);
	visibility: hidden;
	width: 110px; z-index:15;}
ul.rating-menu{width: 144px; bottom:-66px; right:-144px}
ul.add-menu a, ul.rating-menu a {
	color: #2E2E2E;
	display: block;
	padding: 3px 0;
	transition: all .15s linear;
	white-space: nowrap; }
ul.rating-menu a{ color:#FBC02D;}
ul.add-menu a:hover, ul.rating-menu a:hover {
	color: #DF2F2F;
	padding-left: 2px; }
ul.add-menu:before, ul.rating-menu:before {
	border: 5px solid transparent;
	border-right-color: #9E9E9E;
	content: '';
	display: block;
	height: 0;
	left: 50%;
	top:50%;
	position: absolute;
	left: -10px;
	transform: translateY(-50%);
	width: 0; }
.add-menu-wrap:hover ul.add-menu { opacity: 1; right:-116px; visibility: visible; }
.rating-menu-wrap:hover ul.rating-menu {opacity: 1; right:-150px; visibility: visible;}
.active .page-link {
    background-color: #ccc !important;
    color: #555 !important;
}
.listing-detail{ margin-bottom:30px; background:#fff; border-radius:3px; padding:25px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);}
.listing-detail > h2{margin: 0 0 32px 0;}
.sidebar .card{box-shadow:none;}

/* modal */
.modal-header{background: #f2f2f2; border-radius: 0.3rem 0.3rem 0 0; border-bottom: 1px solid #ccc;}
.modal-title .md-icon{font-size: 28px; width: 28px; height: 28px; overflow:visible; vertical-align:middle;}
.modal-body dt, .modal-body dd{ display:inline-block;}
.modal-body dt{width:25%; float:left; line-height:48px;}
.modal-body dd{width:73%;}
#root > [data-reactroot] { height: 100% }